* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  background: red;
}




#turn{
	position:absolute;
	top:200px;
}

#startButton{

position:absolute;
top:600px;
left:70px;
width:200px;
height:50px;
font-size:20px;
background-color:red;

}

#count{
	font-size:50px;
	margin:30px;
	margin-left:50px;
	margin-bottom:200px;
}

.memory-game {
  width: 700px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.memory-card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

}

.memory-card:hover {
	border:4px solid red;
	box-shadow: inset 1px 1px 1px 5px red
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 1px;
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.hide {
	display:none;
}